terraform {
  backend "s3" {
    bucket = "<replace with your bucket>"
    key    = "{{ .KEY_PATH }}/state.tfstate"
    region = "ap-southeast-1"
    profile = "devops"
    dynamodb_table = ""
  }
}

provider "aws" {
  region = var.region
  profile = "{{.ACCOUNT}}"
}

variable "region" {
  default = "{{.REGION | default "ap-southeast-1"}}"
}

